name: Rust
on:
  push:
    branches: 
      - "master"
      - "release/**"
  pull_request:
    branches: 
      - "master"
      - "dev"
env:
  CARGO_TERM_COLOR: always
  STEAM_API_KEY: ${{ secrets.STEAM_API_KEY }}
  PROJECT_PATH: "${{ github.workspace }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --release --verbose
    - name: Working Directory
      run: pwd && ls .
    - name: Create env file
      run: bash ./setup/create_pipeline_env_file.sh
    - name: Run tests
      run: cargo test --release --verbose -- --test-threads=1