name: Rust
on:
  push:
    branches: 
      - "master"
      - "release/**"
  pull_request:
    branches: 
      - "master"
      - "dev"
env:
  CARGO_TERM_COLOR: always
  STEAM_API_KEY: ${{ secrets.STEAM_API_KEY }}
  PROJECT_PATH: ${{ github.workspace }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --release --verbose
    - name: Create env file
      run: bash ./setup/create_pipeline_env_file.sh && ls ./setup
    - name: Set up config for storefronts
      run: cargo run -- config -a
    - name: Run tests
      run: cargo test --release --verbose -- --test-threads=1